*.swp
*.aux
*.nav
*.out
*.tex.backup
*.toc
*.snm
*.sty.backup
*.bbl
*.blg
*nonpublic*
documents/*.log
# *.pdf
km3base/logs/*.log
toyExample/output/*
*/bin/*
*.o
*/externalOutput/*.txt
*/externalOutput/*.pdf
