*.swp
*.aux
*.nav
*.out
*.tex.backup
*.toc
*.snm
*.sty.backup
*.bbl
*.blg
*nonpublic*
documents/*.log
documents/*.pdf
km3base/logs/*.log
*/bin/*
*.o
*/hostOutput/*.txt
*/hostOutput/*.pdf
convertRootToHdf5
jpp-docker
K40_fit




